
<div class="foot">
  <table width="980" border="0" align="center" cellpadding="0" cellspacing="0" class="font_meau">
    <tr>
      <td width="196" align="center"><a href="http://www.bbscms.net/" target="_blank" rel="nofollow">技术支持</a></td>
      <td width="196" align="center"><a href="data/sitemap.html" target="_blank">网站地图</a></td>
      <td width="196" align="center"><a href="about/rencaizhaopin" target="_blank" rel="nofollow">诚聘英才</a></td>
      <td width="196" align="center"><a href="plus/guestbook.php" target="_blank" rel="nofollow">在线留言</a></td>
      <td width="196" align="center">网站统计 </td>
    </tr>
  </table>
  <table width="423" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="200"><!-- Baidu Button BEGIN -->
        
        <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg"  /> <a class="shareCount"></a> </div>
        <script type="text/javascript" id="bdshare_js" data="type=button&mini=1&uid=404486" ></script> 
        <script type="text/javascript" id="bdshell_js"></script> 
        <script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script> 
        <!-- Baidu Button END --></td>
      <td width="50"></td>
      <td width="200">备案号：豫ICP备11001755号 </td>
    </tr>
  </table>
</div>
</body></html>