{template "content","header"}

<link href="daxibei/css/index.css" rel="stylesheet" type="text/css"; />
<link href="daxibei/css/article.css" rel="stylesheet" type="text/css"; />
<link href="daxibei/css/images/case.css" rel="stylesheet" type="text/css"; />
<link rel="stylesheet" href="daxibei/fangan/images/packages.css"/>
<script>
<!--
/*第一种形式 第二种形式 更换显示样式*/
function setTab(name,cursel,n){
 for(i=1;i<=n;i++){
  var menu=document.getElementById(name+i);
  var con=document.getElementById("con_"+name+"_"+i);
  menu.className=i==cursel?"hover":"";
  con.style.display=i==cursel?"block":"none";
 }
}
//-->
</script>

<div class="magtop"></div>






<div class="box">
  <div class="casetpic"><img src="daxibei/css/images/bpic_solution.jpg"/></div>
  <div class="cmainlist"><span class="cnow">当前位置：<a href='http://www.zzhpkj.com/'>主页</a> > <a href='http://www.zzhpkj.com/web/'>网站建设</a> > <a href='http://www.zzhpkj.com/jianzhangtaocan/'>建站套餐</a> > </span></div>
 <!--解决方案--->

<div class="pack_box">
   <div class="pack_tit">
     <div><img src="daxibei/fangan/images/p_wywd.jpg"/></div>
	 <div ><img src="daxibei/fangan/images/p_line.jpg"/></div>
   </div>
   <div class="pack_number01">
    <div><img src="daxibei/fangan/images/pk_top.jpg"/ style=" width:948px; height:6px; float:left"></div>
	<div class="packnum_main">
	 <div class="packnum_tit">
	  <span class="packcompany"><img src="daxibei/fangan/images/p_num01.jpg"/ style=" width:29px; height:37px; float:left">&nbsp;&nbsp;我想做一个企业网站</span>
	  <span class="packcomright">如果以下价格太低或太高没有适合你的，请点后面的客服（客服图片）联系我们</span>
	 </div>
	 <ul class="packnum01img">
	  <li><a class="p_pica" href="/jianzhangtaocan/2012/0207/2421.html" target="_blank"></a> <a class="picwd" href="/jianzhangtaocan/2012/0207/2421.html" target="_blank">我是一家小企业</br>想做一个简洁大气的网站</a></li>
	  <li><a class="p_pica01" href="/jianzhangtaocan/2012/0207/2425.html" target="_blank"></a> <a class="picwd" href="/jianzhangtaocan/2012/0207/2425.html" target="_blank">我们是实业公司</br>想做一个有创意的品牌网站</a></li>
	  <li><a class="p_pica02" href="/jianzhangtaocan/2012/0207/2424.html" target="_blank"></a> <a class="picwd" href="/jianzhangtaocan/2012/0207/2424.html" target="_blank">我们是综合集团</br>要做一个品牌展示网站</a></li>
	  <li><a class="p_pica03" href="/jianzhangtaocan/2012/0207/2426.html" target="_blank"></a> <a class="picwd" href="/jianzhangtaocan/2012/0207/2426.html" target="_blank">我们要对品牌进行</br>flash+创意型多媒体展示</a></li>
	 </ul>
	</div>
    <div><img src="daxibei/fangan/images/pk_bom.jpg"/ style=" width:948px; height:6px; float:left"></div>
   </div>
 
   <div class="pack_number01">
    <div><img src="daxibei/fangan/images/pk_top.jpg"/ style=" width:948px; height:6px; float:left"></div>
	<div class="packnum_main">
	 <div class="packnum_tit">
	  <span class="packcompany"><img src="daxibei/fangan/images/p_num02.jpg"/ style=" width:29px; height:37px; float:left">&nbsp;&nbsp;我是商家（我是创业者），我想做电子商务</span>
	  <span class="packcomright">如果以下价格太低或太高没有适合你的，请点后面的客服（客服图片）联系我们</span>
	 </div>
	 <ul class="packnum01img">
	  <li><a class="p2_pica" href="#"></a> <a class="picwd" href="#">我是公司（个人）</br>想做一个电子商务网站出售商品 </a></li>
	  <li><a class="p2_pica01" href="#"></a> <a class="picwd" href="#">我们对某个行业很了解</br>想做这个行业人才招聘站</a></li>
	  <li><a class="p2_pica02" href="#"></a> <a class="picwd" href="#">我们对本地商业</br>及服务很了解想做地方门户</a></li>
	  <li><a class="p2_pica03" href="#"></a> <a class="picwd" href="#">我们对某个行业很了解</br>想做这个行业的电商平台</a></li>
	 </ul>
	</div>
    <div><img src="daxibei/fangan/images/pk_bom.jpg"/style=" width:948px; height:6px; float:left"></div>
   </div>
   
   
   <div class="pack_number01">
    <div><img src="daxibei/fangan/images/pk_top.jpg"/ style=" width:948px; height:6px; float:left"></div>
	<div class="packnum_main pack03">
	 <div class="packnum_tit">
	  <span class="packcompany"><img src="daxibei/fangan/images/p_num03.jpg"/ style=" width:29px; height:37px; float:left">&nbsp;&nbsp;我们想进行网络营销推广公司业务及产品</span>
	 </div>
	 <div class="pack_03">
	  <div ><img src="daxibei/fangan/images/p_03img.jpg"/ style=" width:356px; height:165px; float:left"></div>
	  <a class="pack03wd" href="#"> →  我们想把自己公司的产品及业务推广一下，希望通过网络渠道找到客户</br>
     →  我们公司还没有企业邮箱，想统一公司的形象，开通企业邮箱</br>
     →  我们公司还没有400电话，想统一公司的形象，开通400电话</br></a>
	</div> 
	</div>
    <div><img src="daxibei/fangan/images/pk_bom.jpg"/style=" width:948px; height:6px; float:left"></div>
   </div>
   
   <img src="daxibei/fangan/images/p_line.jpg"/ style=" margin-left:12px;">
   <div class="pack_04">
     <img src="daxibei/fangan/images/p_num04.jpg"/ style="width:29px; height:37px; float:left;">
 &nbsp;&nbsp;以上都不是我想要做的，我有自己的创意，有自己的模式，我要定制开发网站&nbsp;<a href="/about/lianxiwomen/"><img src="daxibei/fangan/images/pack_con.jpg"/ style=" width:139px; height:14px"></a>
 
   </div>
 
  <div class="clear"></div>
 </div>
 <!--解决方案--->


{template "content","footer"}